#main-wrapper{width:100%}
#sidebar-wrapper,.comments{display:none;}
#main-wrapper .bcreative-inner{border:0px;}
.page-contact {
  padding: 35px 0;
}
h2.post-title.entry-title {
  text-align: center;
}
